#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

form {
  width: 450px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;

}

p{
  margin-top: 0px;
    text-align: right
}
input[type='text'],
input[type='email'],
input[type='date'],
input[type='tel'],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

h2{
  margin-top: 0px;
}
/* Style small elements */
small {
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #888;
}

/* Style the submit button */
button[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Change button color on hover */
button[type='submit']:hover {
  background-color: #0056b3;
}
#password , #new_password  {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 96%;
}

/* Change border color when the password field is focused */
#password:focus {
  border-color: #007bff;
}

/* Add this CSS to your stylesheet */
.error {
  color:red;
  font-size: 0.8em;
  margin-top: 3px;
}

.spaceup {
margin-top: 30px;
margin-bottom: 30px;
}




